body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #0e424c !important;
  color: white;
}

.navbar-brand {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.signupform{
  margin: 0 auto;
}

.navbar-brand:hover {
  color: white;
}


#signUpFormContainer {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn-post {
  background-color: #0a5f86;
  color: white;
}

.btn-post:hover {
  background-color: #0e758f;
}

.card {
  border: 1px solid #ddd;
}

.post-card {
  background-color: #f9f9f9;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn-edit {
  background-color: #2b5f91;
  color: white;
}

.btn-edit:hover {
  background-color: #146c8f;
}

.btn-delete {
  background-color: #9e3522;
  color: white;
}

.btn-delete:hover {
  background-color: #ad3945;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .navbar-brand span {
    font-size: 1rem;
  }
}
